body{
    font-family: Arial, sans-serif;
    padding: 20px;
} 

.controls{
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
}

button{
    margin-left: 5px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #e0e0e0;

}

h1{
    text-align: center;
}

.stackinput{
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: black;
    font-weight: bold;
    padding: 8px;
}